{% extends "base.html" %}
{% block title %}Profil użytkownika{% endblock %}
{% block content %}


<h1>Koszyk</h1>
{%for row in info%}
<br>
<div class="col mb-5">
    <div class="card h-100">
        <div class="card-body">
            <div class="text-center" style="display: flex;align-items: center;" >
                <img class="" style="max-width: 250px; margin-right: 300px;" src="{{ url_for('static', filename='Images/' + info[0][16] )}}" alt="..." />
                <p>{{row[11]}}    {{row[12]}}</p>
                <br>
                <h1>{{row[13]}}</h1>
                <br>
                
            </div>
        </div> 
        <br>
    </div>
</div>
<!-- <div class="media col-md-12" style="display: flex;border: solid black;border-radius: 10px;padding:30px">
    <img src="{{ url_for('static', filename='Images/' + info[0][16] )}}" class="mr-3" alt="Sample Image" width="100" style="margin-bottom: 10px;width: 200px;">
    <div class="media-body " style="display: flex; align-items: center;margin-left: 20px;">
      <p>{{row[12]}} {{row[13]}}</p>
    </div>
  </div> -->

{%endfor%}

{%endblock%}