{% extends "base.html" %}
{% block title %}Książki{% endblock %}
{% block content %}
<div class="row gx-4 gx-lg-5 align-items-center">
    <div class="row gx-4 gx-lg-5 align-items-center">
        <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ url_for('static', filename='Images/' + info[0][7] )}}" alt="..." /></div>
        <div class="col-md-6">
            <div class="small mb-1">Kategoria: {{info[0][5]}}</div>
            <h1 class="display-5 fw-bolder">{{info[0][2]}}</h1>
            <div class="fs-5 mb-5">
                <!-- <span class="text-decoration-line-through">$45.00</span> -->
                <span>{{info[0][4]}}</span>
            </div>
            <p class="lead">{{info[0][3]}}</p>
            <div class="d-flex">
                <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                <button class="btn btn-outline-dark flex-shrink-0" type="button">
                    <i class="bi-cart-fill me-1"></i>
                    Dodaj do koszyka
                </button>
            </div>
        </div>
    </div>
</div>
{%if comments%}
<div class="col mb-5" style="text-align: center;margin-top: 50px;"><h1>Opinie</h1></div>
{%endif%}
{%for row in comments%}
<!-- comments -->
<br>
<div class="col mb-5">
    <div class="card h-100">
        <!-- Product details-->
        <div class="card-body p-4">
            <div class="text-center">
                <!-- Product name-->
                <h4 class="fw-bolder">{{row[2]}}    {{row[3]}}</h5>
                <!-- Product price-->
                <div class="d-flex justify-content-center small text-warning mb-2">
                    {%for i in range(row[0])%}
                    <div class="bi-star-fill" style="margin-left: 5px;"></div>
                    {%endfor%}
                </div>
                
                <br>
                
            </div>
        </div>
        <!-- Product actions-->
        <div class="text-center">
        <h6>{{row[1]}}</h6>
        </div>  
        <br>
    </div>
</div>
{%endfor%}
{% endblock %}