{% extends "base.html" %}
{% block title %}Książki{% endblock %}
{% block content %}
<div class="row gx-4 gx-lg-5 align-items-center">
    <div class="row gx-4 gx-lg-5 align-items-center">
        <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ url_for('static', filename='Images/' + info[0][7] )}}" alt="..." /></div>
        <div class="col-md-6">
            <div class="small mb-1">Kategoria: {{info[0][5]}}</div>
            <h1 class="display-5 fw-bolder">{{info[0][2]}}</h1>
            <div class="fs-5 mb-5">
                <!-- <span class="text-decoration-line-through">$45.00</span> -->
                <span>{{info[0][4]}}</span>
            </div>
            <p class="lead">{{info[0][3]}}</p>
            <div class="d-flex">
                <form method="post" action="{{ url_for('views.dodaj_produkt') }}">
                    <input class="form-control text-center me-3" name="ilosc" id="ilosc" type="num" value="1" style="max-width: 3rem" />
                    <button class="btn btn-outline-dark flex-shrink-0" type="submit" name="dodaj_do_koszyka" value="Dodaj">Dodaj do koszyka</button>
                    <!-- <input class="btn btn-outline-dark flex-shrink-0" type="submit" value="Dodaj do koszyka" name="dodaj_do_koszyka"> -->
            </form>
            </div>
        </div>
    </div>
</div>

{%if comments%}
<div class="col mb-5" style="text-align: center;margin-top: 50px;"><h1>Opinie</h1></div>
{%endif%}
{%for row in comments%}
<!-- comments -->
<br>
<div class="col mb-5">
    <div class="card h-100">
        <!-- Product details-->
        <div class="card-body p-4">
            <div class="text-center">
                <!-- Product name-->
                <h4 class="fw-bolder">{{row[2]}}    {{row[3]}}</h5>
                <!-- Product price-->
                <div class="d-flex justify-content-center small text-warning mb-2">
                    {%for i in range(row[0])%}
                    <div class="bi-star-fill" style="margin-left: 5px;"></div>
                    {%endfor%}
                </div>
                
                <br>
                
            </div>
        </div>
        <!-- Product actions-->
        <div class="text-center">
        <h6>{{row[1]}}</h6>
        </div>  
        <br>
    </div>
</div>
{%endfor%}
{%if session['user']%}
<br>
<div class="col mb-5">
    <div class="card h-100">
        <!-- Product details-->
        <div class="card-body p-4">
            <div class="text-center">
                <h2>Dodaj Komentarz</h2>
                    <form method="post" action="{{ url_for('views.dodaj_komentarz') }}">
                        <div class="form-group">
                        <label for="komentarz">Treść Komentarza:</label>
                        <textarea class="form-control" name="komentarz" id="komentarz" rows="4" placeholder="Wprowadź swój komentarz"></textarea>
                        </div>
                        <div class="form-group">
                        <label for="ocena">Ocena (od 1 do 5):</label>
                        <!-- <div class="rating">
                            <span class="star" data-value="1">&#9733;</span>
                            <span class="star" data-value="2">&#9733;</span>
                            <span class="star" data-value="3">&#9733;</span>
                            <span class="star" data-value="4">&#9733;</span>
                            <span class="star" data-value="5">&#9733;</span>
                        </div> -->
                        <input type="number" class="form-control" name="ocena" id="ocena" min="1" max="5" placeholder="Wprowadź ocenę">
                        </div>
                        <button type="submit" class="btn btn-primary" value="komentarz" id="dodaj_komentarz">Dodaj Komentarz</button>
                        <br>
                        {% for mes in get_flashed_messages() %}
                        <div class="alert alert-warning">
                        {{ mes }}
                        </div>
                        {% endfor %}
                    </form>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script>
        $(document).ready(function(){
        $('.star').click(function(){
            var rating = $(this).data('value');

            // Zaznacz wszystkie gwiazdki od wybranej i w lewo
            $('.star').each(function(){
            if($(this).data('value') <= rating){
                $(this).addClass('selected');
            } else {
                $(this).removeClass('selected');
            }
            });

            console.log('Wybrana ocena: ' + rating);
            // Tutaj możesz przekazać wartość oceny gdzie indziej
        });
        $('#submitRating').click(function(){
  var selectedRating = $('.star.selected').last().data('value');
  var additionalText = $('#additionalText').val();
  if(selectedRating > 0){
    $.ajax({
      url: '/dodaj_komentarz',
      type: 'POST',
      contentType: 'application/json',
      dataType: 'json', // Określenie, że oczekujesz odpowiedzi w formacie JSON
      data: JSON.stringify({
        rating: selectedRating, 
        text: additionalText
      }),
      success: function(response){
        console.log(response);
      },
      error: function(error){
        console.log(error);
      }
    });
  }
});

        });
    </script>
{%endif%}
{% endblock %}