{% extends "base.html" %}
{% block title %}Profil użytkownika{% endblock %}
{% block content %}

<div class="container mt-4">
    <div class="row">
      <div class="col-md-8">
        <h1>Twój Profil Użytkownika</h1>
        
        <!-- Formularz do zmiany danych użytkownika -->
        <form action="/zmien_dane" method="post">
          <div class="mb-3">
            <label for="imie" class="form-label">Imię:</label>
            <input type="text" class="form-control" id="imie" name="imie">
          </div>
          <div class="mb-3">
            <label for="nazwisko" class="form-label">Nazwisko:</label>
            <input type="text" class="form-control" id="nazwisko" name="nazwisko">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">E-mail:</label>
            <input type="email" class="form-control" id="email" name="email">
          </div>
          <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
        </form>
      </div>
      <div class="col-md-4">
        <!-- Tutaj możesz dodać dodatkowe informacje lub widgety dla panelu użytkownika -->
      </div>
    </div>
    <div class="row">
        <div class="col-md-6"><div class="row"><div class="col-md-6">asdasdd</div><div class="col-md-6">asdasd</div></div></div>
        <div class="col-md-6">asdasd</div>
    </div>
  </div>
  


{%endblock%}