{% extends "base.html" %}
{% block title %}Profil użytkownika{% endblock %}
{% block content %}

<div class="container mt-5">
  <div class="card">
      <div class="card-header">
          <h2>Informacje o Koncie</h2>
      </div>
      <div class="card-body">
          <p class="card-text"><strong>Email: {{info[0][1]}}  </strong></p>
          <p class="card-text"><strong>Status Konta:   {{info[0][4]}}</strong> </p>
          <p class="card-text"><strong>Data Utworzenia:  {{info[0][3]}}</strong> </p>
          <p class="card-text"><strong>Imię: {{info[0][7]}}</strong> </p>
          <p class="card-text"><strong>Nazwisko: {{info[0][8]}}</strong> </p>
          <p class="card-text"><strong>Telefon: {{info[0][9]}} </strong> </p>
          <p class="card-text"><strong>Adres: {{info[0][10]}}</strong> </p>
      </div>
  </div>
</div>





<div class="container mt-5">
  <div class="card">
      <div class="card-header">
          <h2>Edycja Informacji o Koncie</h2>
      </div>
      <div class="card-body">
          <form method="post">
              <div class="form-group">
                  <label for="username">Username:</label>
                  <input type="text" id="username" name="username" value="" class="form-control" required>
              </div>
              <div class="form-group">
                  <label for="email">Email:</label>
                  <input type="email" id="email" name="email" value="" class="form-control" required>
              </div>
              <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
          </form>
      </div>
  </div>
</div>
  


{%endblock%}